@font-face {
    font-family: "caviar";
    src: url("./fonts/CaviarDreams-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "caviar";
    src: url("./fonts/Caviar_Dreams_Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "caviar";
    src: url("./fonts/CaviarDreams_Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "caviar";
    src: url("./fonts/CaviarDreams_BoldItalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

body,
.btn,
h5,
button {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "caviar", "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "caviar", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}
